.nav-link {
    display: flex;
    align-items: center;
    gap: 0.3em;
    padding: 6px;
}

.nav-item:hover {
    border-radius: 0.3em;
    background-color: #427D9D!important;
}

.navbar-icon {
    width: 1.2em;
}

.wrapper-thumbnail {
    width: 100%;
    height: 225px;
    position: relative;
}

.wrapper-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card {
    transition: transform 0.4s ease, box-shadow 0.4s ease, border 0.4s ease;
    border: 2px solid transparent;
}

.card:hover {
    box-shadow: 0 2px 4px #164863;
    border: 2px solid #427D9D;
}

.card:hover .card-title {
    transition: color 0.3s ease-in-out;
}

.card:hover .card-text {
    transition: color 0.3s ease-in-out;
}

.card p.card-text {
    text-align: justify!important;
}

.thumbnail-icon {
    width: 1em;
}

#thumbnailItems span {
    font-size: 12px;
}

.pagination-items {
    cursor: pointer;
}

.page-link.active {
    border: 1px solid rgb(92, 99, 105);
    background-color: rgb(92, 99, 105)!important;
}

#articleBody {
    width: 100%;
    height: 100%;
}

#articleBody figure {
    position: relative;
    width: 100%;
    padding: 10px;
    text-align: center;
}

#articleBody figure img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

#articleBody ul {
    width: 100%;
}

#articleBody ul li {
    overflow-wrap: break-word!important;
    word-wrap: break-word!important;
    max-width: 100%;
}

.widget-content ul {
    padding: 0;
    list-style-type: none;
}

.widget-content ul li {
    height: 70px;
}

.widget-content .item-thumbnail {
    width: 100px;
    position: relative;
}

.widget-content .item-thumbnail img {
    width: 100px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.widget-content .item-title a:hover {
    color: rgb(13, 110, 253)!important;
}

.bg-custom-1 {
    background-color: #164863 !important;
}

.bg-custom-2 {
    background-color: #427D9D!important;
}

.bg-custom-3 {
    background-color: #9BBEC8!important;
}

.credit-text, .nav-link {
    color: #ffffff!important;
}

#articleBody a {
    text-decoration: none!important;
}

/* Container for social icons */
.social-media-list {
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

/* Style for social icons */
.social-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3em;
    color: white;
    transition: background 0.4s ease;
}

/* Colors for each social media on hover */
.social-icon.youtube:hover {
    background: linear-gradient(135deg, #ff0000, #cc0000);
}

.social-icon.instagram:hover {
    background: linear-gradient(135deg, #e1306c, #bc2a8d);
}

.social-icon.github:hover {
    background: linear-gradient(135deg, #000000, #4b4949);
}

/* Default colors */
.social-icon.youtube {
    background-color: #ff0000;
}

.social-icon.instagram {
    background-color: #e1306c;
}

.social-icon.github {
    background-color: #000000;
}

/* Icon size */
.social-icon svg {
    width: 24px;
    height: 24px;
}

/* Cookie Consent Banner */
#cookie-consent-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    z-index: 94035;
}

#cookie-consent-banner p {
    display: inline;
    margin: 0;
    padding-right: 10px;
}

#accept-cookie {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
}

/* Gaya CSS untuk daftar isi */
.table-of-content {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}
.table-of-content ul {
    list-style: none;
    padding: 0;
}
.table-of-content li {
    margin: 5px 0;
}
.table-of-content ul ul {
    margin-left: 20px; /* Indentasi untuk nested list */
}
.table-of-content a {
    text-decoration: none;
    color: #007BFF;
}
.table-of-content a:hover {
    text-decoration: underline;
}

@media (max-width: 1028px) {
    #breadcrumbWrapper .active {
        width: 120px!important;
        overflow: hidden!important;
        white-space: nowrap!important;
        text-overflow: ellipsis!important;
    }

    #breadcrumbWrapper .breadcrumb {
        display: -webkit-inline-box!important;
        flex-wrap: nowrap!important;
    }
}

.img-wrapper-404 {
    text-align: center;
}

.img-wrapper-404 img {
    max-height: 420px;
}
