.nav-link {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.nav-item:hover {
    border-radius: 0.5em;
    background-color: rgb(181, 190, 197);
}

.navbar-icon {
    width: 1.2em;
}

.wrapper-thumbnail {
    width: 100%;
    height: 200px;
    position: relative;
}

.wrapper-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card {
    transition: transform 0.4s ease, box-shadow 0.4s ease, border 0.4s ease;
    border: 2px solid transparent;
}

.card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
    border: 2px solid rgb(92, 99, 105);
}

.card:hover .card-title {
    transition: color 0.4s ease;
}

.card:hover .card-text {
    transition: color 0.4s ease;
}

.thumbnail-icon {
    width: 1em;
}

#thumbnailItems span {
    font-size: 12px;
}

.pagination-items {
    cursor: pointer;
}

.page-link.active {
    border: 1px solid rgb(92, 99, 105);
    background-color: rgb(92, 99, 105)!important;
}

#articleBody figure {
    position: relative;
    width: 100%;
    max-height: 500px;
    text-align: center;
}

#articleBody figure img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

#articleBody ul li {
    word-break: break-word!important;
    word-wrap: break-word!important;
}

.widget-content ul {
    padding: 0;
    list-style-type: none;
}

.widget-content ul li {
    height: 70px;
}

.widget-content .item-thumbnail {
    width: 100px;
    position: relative;
}

.widget-content .item-thumbnail img {
    width: 100px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.widget-content .item-title a:hover {
    color: rgb(13, 110, 253)!important;
}
